{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n static %}

{% block head %}
  <script src="{% static 'public/js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <link href="{% static 'public/css/jquery.Jcrop.min.css' %}" rel="stylesheet">
  <script src="{% static 'public/js/jquery.Jcrop.min.js' %}"></script>
  <script src="{% static 'public/js/picture.js' %}"></script>
{% endblock head %}

{% block title %}Email change{% endblock %}

{% block content %}

<div class="container">

    <!-- Public Profile -->
    <div class="Subhead mt-0 mb-0">
    <h2 class="Subhead-heading">Public profile</h2>
    </div>

    <div class="col-3 float-left pr-4" role="navigation">
      <nav class="menu" data-pjax="">
        <h3 class="menu-heading">
          Personal settings
        </h3>

            <a href="{% url "account:settings" %}" class="js-selected-navigation-item menu-item" data-selected-links="avatar_settings /settings/profile">
                账号</a>
            <a href="{% url "account:email-change" %}" class="js-selected-navigation-item selected menu-item" data-selected-links=" /settings/emails">
                邮箱</a>
            <a href="{% url "account:password-change" %}" class="js-selected-navigation-item menu-item" data-selected-links=" /settings/notifications">
                密码</a>
            <a href="{% url "account:password-change" %}" class="js-selected-navigation-item menu-item" data-selected-links=" /account/password-change">
                会员</a>
      </nav>
    </div>

    <div class="col-9 float-left">


      <img src="{{ user.profile.get_user_photo }}" style="width: 150px; border-radius: 5px; margin-bottom: 1em;">
      <form enctype="multipart/form-data" method="post" action="{% url "account:upload_picture" %}" id="picture-upload-form">
        {% csrf_token %}
        <input type="file" name="picture" style="display: none">
        <button type="button" class="btn btn-default" id="btn-upload-picture">Upload new picture</button>
      </form>

      {% if uploaded_picture %}
        <form method="post" action="{% url 'account:save_uploaded_picture' %}">
          {% csrf_token %}
          <div class="modal fade" id="modal-upload-picture">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"> Crop Picture </h4>
                </div>
                <div class="modal-body">
                  <div class="selected-picture">
                    <p> 'Crop the profile picture and then click on the<strong> 'Save Picture' </strong> 'button' </p>
                    <img src="{% get_media_prefix %}profile_pictures/{{ user.username }}_tmp.jpg?_={% now 'U' %}" id="crop-picture">
                    <input type="hidden" id="x" name="x" />
                    <input type="hidden" id="y" name="y" />
                    <input type="hidden" id="w" name="w" />
                    <input type="hidden" id="h" name="h" />
                  </div>
                  <script type="text/javascript">

                          $('#crop-picture').Jcrop({

                          onSelect: function(crop){
                              console.log(crop);

                              $('#x').val(crop.x);
                              $('#y').val(crop.y);
                              $('#w').val(crop.w);
                              $('#h').val(crop.h);
                          }
                      });



                  //  $(function () {
                    //  $("#modal-upload-picture").modal();
                     // window.history.pushState("", "", "/account/settings/picture/");
                    //});
                  </script>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                  <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      {% endif %}

</div>

{% endblock %}


                     {% block domready %}
                         $(function () {
                      $("#modal-upload-picture").modal();
                      window.history.pushState("", "", "/account/settings/picture/");
                    });
    {% endblock domready %}