{% extends "base.html" %}
{% load crispy_forms_tags %}

 {% block post_detail_link %}
  <li><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></li>
  {% endblock %}

{% block content %}


   <div class='col-sm-6 col-sm-offset-3'>

   <div class="row">
       <div class="col-sm-12">

        {% if instance.image %}
        <img src='{{ instance.image.url }}' class='img-responsive' />
        {% endif %}
        <h3><small>{{ instance.title }} </small> </h3>
    <p><a class='like-btn' data-href='{{ instance.get_api_like_url }}' data-likes='{{ instance.likes.count }}' href='{{ instance.get_like_url }}'>{{ instance.likes.count }} Like</a>  <small>{{ instance.timestamp|timesince }} ago</small></p>
{% if instance.user.get_full_name %}
    <p>Author: {{ instance.user.get_full_name }} | <small> {{ user.profile.get_user_bio }} </small></p>
    <div class="profile-info">


                    {% load thumbnail %}
            <img src="{{ user.profile.get_user_photo }}" style=" height= 28px; width: 28px; border-radius: 5px; margin-bottom: 1em;">

                    {% thumbnail user.profile "800x200" crop="center" as im %}
                    <a href='{{ obj.get_absolute_url }}'> <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class='img-responsive' /> </a>
                    {% endthumbnail %}


    </div>



{% endif %}
    {% with comment_count=comments_count users_like=image.users_like.all %}
        <a href="#comment-submit">{{ comment_count }}评论</a>
        {% endwith %}
   <div class='post-detail-item'>{{ instance.get_markdown }}</div>

    </div><!--end col-sm-12-->

<div>

<div>
     {% for tag in tags %}
        <a href="{{ tag.get_absolute_url }}"><span class="label label-default">{{ tag.tag }}</span></a>

    {% endfor %}

<p>Read time: {% if  instance.read_time <= "01" %} < 1 minutes
        {% else %} {{ instance.read_time }} minutes {% endif %}
</p>



        <div class="image-likes">
            <p><a class='like-btn' data-href='{{ instance.get_api_like_url }}' data-likes='{{ instance.likes.count }}' href='{{ instance.get_like_url }}'>{{ instance.likes.count }} Like</a> </p>

            {% for user in instance.likes.all%}
                <div>
                    <img src="{{ user.profile.get_user_photo }}" style=" height= 28px; width: 28px; border-radius: 5px; margin-bottom: 1em;">

                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}

            {% endfor %}
        </div>

<div class="entry-footer clearfix">
    <div class="topic-cafe column">
        <div class="column-title">Published In</div>

        {% if instance.category.image %}
            {% load thumbnail %}

            {% thumbnail instance.category.image "50x50" crop="center" as im %}
                <a class="column-header" href='{{ instance.category.get_absolute_url }}'> <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"  />
            {% endthumbnail %}
            {%  endif %}
             <div class="column-main"><strong>{{ instance.category.get_category_name }}</strong></div>
             </a>
        <p>{{ instance.category.get_category_desc }}</p>
    </div>
    <div class="topic-author column">
        <div class="column-title">Created By</div>
        <div class="column-header">
            <a class="avatar" href="/u/dang"><span class="v-avatar v-avatar--squared" aria-label="dang"><span class="v-avatar__text" style="background-color: rgb(84, 200, 132); color: white; background-position: initial initial; background-repeat: initial initial;">D</span></span></a>
            <a class="column-main" href="/u/dang"><strong>dang</strong><div>#2842</div></a>
        </div>
        <p></p>
    </div>
</div>


</div>

        <p class='lead'>Comments</p>
        <form method="POST" action="."  id="comment-submit"> {% csrf_token %}
            {{ comment_form|crispy }}
            <input type='submit' value='Post comment' class='btn btn-default'>
        </form>
        <hr/>
        {% for comment in comments %}

        <blockquote>
          <p>{{ comment.content }}</p>
          <footer>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}
                    {{ comment.children.count }} Comments {% if comment.children.count > 1 %} {% endif %}| {% endif %} <a class='comment-reply-btn' href="#">查看会话</a>| <a class='' href='{{ comment.get_absolute_url }}'>列表</a>
          </footer>

           <div class='comment-reply' style="display: none;">
                {% for child_comment in comment.children %}
                <blockquote>
                <p>{{ child_comment.content }}</p>
                <footer>via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
                </blockquote>
                {% endfor %}

                <form method="POST" action="."> {% csrf_token %}
                    {{ comment_form|crispy }}
                    <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                    <input type='submit' value='Reply' class='btn btn-default'>
                </form>
            </div>

        </blockquote>

        <hr/>
        {% endfor %}
    </div>




   </div><!--end row-->

</div><!--end col-sm-6 col-sm-offset-3-->

{% endblock %}